
@{
    ViewBag.Index = ViewBag.Index ?? "";
    ViewBag.Clientes = ViewBag.Clientes ?? "";
    ViewBag.Atributos = ViewBag.Atributos ?? "";

}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="https://www.bitsion.com/bitsion/assets/img/logos/logo_bitsion.png">
        <title>@ViewBag.Title - Bitsion</title>
        @Styles.Render("~/Content/css")
        <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    </head>
    
    <body id="page-top">
        <div id="wrapper">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Bitsion</div>
                </a>
                <hr class="sidebar-divider my-0">
                <li class="nav-item @ViewBag.Index">
                    <a class="nav-link" href="@Url.Action("Index","Home")">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Herramientas
                </div>
                <li class="nav-item @ViewBag.Clientes">
                    <a class="nav-link" href="@Url.Action("Clientes","Home")">
                        <i class="fas fa-solid fa-users"></i>
                        <span>Clientes</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.Atributos">
                    <a class="nav-link" href="@Url.Action("Atributos","Mantenedor")">
                        <i class="fas fa-solid fa-book"></i>
                        <span>Atributos</span>
                    </a>
                </li>
                <hr class="sidebar-divider d-none d-md-block">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
    
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-800 ">Administrador</span>
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-800"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
    
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar Sesion
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
    
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-2">
                            <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
                        </div>
                        <p class="mb-5 ml-1">
                            @ViewBag.desc
                        </p>
                        <div class="row mt-5">
                            @RenderBody()
                        </div>
                    </div>
    
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Maxi López</span>
                            </div>
                        </div>
                    </footer>
    
                </div>
    
            </div>
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
    
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de salir?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Selecciona cerrar sesion para terminar tu sesion actual.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="@Url.Action("CerrarSesion","Acceso")">Cerrar sesion</a>
                        </div>
                    </div>
                </div>
            </div>
    
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/complementos")
            @RenderSection("scripts", required: false)
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
            <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    </body>
</html>